/*#E3B23C*/
div{
  display: flex;
  flex-direction: row;
  background-color: #588B8B;
  color: #F4FFFD;
}
form{
  flex: 2;
  background-color: #588B8B;
}
input{
  flex: 1;
  background-color: #a4c7c7;
  border: 1px solid #122C34;
  color: #122C34;
  animation-range: initial;
}
select{
  background-color: #a4c7c7;
  border: 1px solid #122C34;
  color: #122C34;
}
input:focus{}
button{
  border: dotted 1px #588B8B;
  background-color: #122C34;
  width: 80%;
  height: 60%;
  text-align: center;
}