/*#E3B23C*/
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #E3B23C;
  font-size: 90%;
}
div{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
#offer{
  max-width: 300px;
}
#forms{
  max-width: 500px;
}
span{
  height: 90vh;
  margin: 4px;
  border-radius: 10px;
  border: 5px solid #c69115;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #588B8B;
  color: #F4FFFD;
}
form{
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #588B8B;
}
input[type=checkbox]{
  margin: 0;

}
input{
  flex: 1;
  background-color: #a4c7c7;
  border: 1px solid #122C34;
  color: #122C34;
  animation-range: initial;
  width: 100px;
}
select{
  background-color: #a4c7c7;
  border: 1px solid #122C34;
  color: #122C34;
  width: 100px;
}
label{
  margin-bottom: 10px;
}
button{
  border: dotted 1px #588B8B;
  background-color: #122C34;
  width: 80%;
  height: 60%;
  text-align: center;
}